<section class="phx-hero">
  <h1> Welcome to this app </h1>
  
  
</section>
<h2> Protected Page </h2>
    <p> You can only see this page if you are logged in </p>

<%= if Pow.Plug.current_user(@conn) do %>
  <span> <%= link "sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete %></span>
<% else %>
  <span><%= link "Register", to: Routes.pow_registration_path(@conn, :new) %></span>
  <span> <%= link "Sign in", to: Routes.pow_session_path(@conn, :new) %></span>
<%end %>
